In [1]:
import pandas as pd
import numpy as np

# For reading stock data from yahoo
from pandas_datareader.data import DataReader

# For time stamps
from datetime import datetime

In [4]:
# Set up End and Start times for data grab
years = 10
end = datetime.now()
start = datetime(end.year - years, end.month, end.day)
ticker = 'AAPL'

In [5]:
aapl_df = DataReader(ticker, 'yahoo', start, end)
aapl_df.head(10)

                 High        Low       Open      Close       Volume  Adj Close
Date
2016-01-11  24.764999  24.334999  24.742500  24.632500  198957600.0  22.821304
2016-01-12  25.172501  24.709999  25.137501  24.990000  196616800.0  23.152521
2016-01-13  25.297501  24.325001  25.080000  24.347500  249758400.0  22.557264
2016-01-14  25.120001  23.934999  24.490000  24.879999  252680400.0  23.050606
2016-01-15  24.427500  23.840000  24.049999  24.282499  319335600.0  22.497040
2016-01-19  24.662500  23.875000  24.602501  24.165001  212350800.0  22.388184
2016-01-20  24.547501  23.355000  23.775000  24.197500  289337600.0  22.418295
2016-01-21  24.469999  23.735001  24.264999  24.075001  208646000.0  22.304800
2016-01-22  25.365000  24.592501  24.657499  25.355000  263202000.0  23.490686
2016-01-25  25.382500  24.802500  25.379999  24.860001  207178000.0  23.032082